:root {
  --background-color: white;
  --text-color: black; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#backBtn a {
  text-decoration: none;
  color: black;
}

.dark-mode {
  --background-color: black;
  --text-color: white;
}

#postsContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .post h2 {
    margin-top: 0;
  }

  #blogPosts div {
    border: 1px solid black; 
    padding: 10px;
    margin: 20px;
  }
#blogPosts h3 {
  border-bottom: 1px solid black;
}

#blogPosts .content {
  font-style: italic;
  margin-bottom: 50px;
}

footer .bold {
  font-weight: bold;
}

footer a {
  color: white;
}